.card {
    transition: 0.3s;
    width: 15%;
}

#picture{
    height: auto;
    width: 100px;
    image-orientation: from-image;
    padding: 50px;
    justify-content: center;
    display: flexbox;
    text-align: center;
}

.personName{
    text-align: center;
    justify-content: center;
}

.personFunction{
    text-align: center;
    justify-content: center;
}