body {
    background-color: #f0f2f5; 
    font-family: Arial, sans-serif;
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50; 
}

#page {
    font-size: 2.5em;
    color: #5a5656; 
    margin: 0;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    padding: 20px;
}

.card {
    background-color: #ffffff; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: calc(33.33% - 16px);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

}

#picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}


#personName {
    font-size: 1.2em;
    color: #333333; 
}

#personFunction {
    font-size: 0.9em;
    color: #666666;
}
