<!DOCTYPE html>
<html>

<head>
    <title>Pictures' Gallery</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div class="card-container">
        <div class="card">
            <img id="picture" src="../../data/images/President_Barack_Obama_(cropped).jpg" alt="Barack Obama's photo">
            <h4><b id="personName">Barack Obama</b></h4>
            <p id="personFunction">Ex-President</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img id="picture" src="../../data/images/tony_stark.png" alt="Another person's photo">
            <h4><b id="personName">Another Person</b></h4>
            <p id="personFunction">Job Title</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img id="picture" src="../../data/images/Donald_Trump_official_portrait.jpg" alt="Yet another person's photo">
            <h4><b id="personName">Yet Another Person</b></h4>
            <p id="personFunction">Another Job Title</p>
        </div>
    </div>
</body>

</html>
