<!DOCTYPE html>
<html>

<head>
    <title>Pictures' Gallery</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <h1 id="page">Pictures' Gallery</h1>

    <div class="card-container">
        <div class="card">
            <img id="picture" src="../../data/images/President_Barack_Obama_(cropped).jpg" alt="Barack Obama's photo">
            <h4><b id="personName">Barack Obama</b></h4>
            <p id="personFunction">Ex-Presidente</p>
        </div>

        <div class="card">
            <img id="picture" src="../../data/images/Donald_Trump_official_portrait.jpg" alt="Donald Trump">
            <h4><b id="personName">Donald Trump</b></h4>
            <p id="personFunction">Ex presidente</p>
        </div>

        <div class="card">
            <img id="picture" src="../../data/images/cachorro.jpeg" alt="Cachorro">
            <h4><b id="personName">Cachorro</b></h4>
            <p id="personFunction">Cheirar tudo o que vê</p>
        </div>

        <div class="card">
            <img id="picture" src="../../data/images/gato_caolho.jpeg" alt="Gato caolho">
            <h4><b id="personName">Gato caolho</b></h4>
            <p id="personFunction">Olhar multi-focal</p>
        </div>
        
        <div class="card">
            <img id="picture" src="../../data/images/pablo_escobar.jpg" alt="Pablo Escobar">
            <h4><b id="personName">Pablo Escobar</b></h4>
            <p id="personFunction">Empreendedor</p>
        </div>

        <div class="card">
            <img id="picture" src="../../data/images/papa_francisco.jpeg" alt="Papa Francisco">
            <h4><b id="personName">Francisco</b></h4>
            <p id="personFunction">Orar</p>
        </div>
        <div class="card">
            <img id="picture" src="../../data/images/ronaldinho.jpeg" alt="Ronaldinho">
            <h4><b id="personName">Ronaldinho</b></h4>
            <p id="personFunction">Driblar</p>
        </div>
        <div class="card">
            <img id="picture" src="../../data/images/tony_stark.png" alt="Tony Stark">
            <h4><b id="personName">Tony Stark</b></h4>
            <p id="personFunction">Ser bilionário</p>
        </div>
    </div>
</body>

</html>
